*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main{
    height: 100vh;
    width: 100%;
    background: url('https://media.istockphoto.com/id/155137713/photo/time.jpg?s=2048x2048&w=is&k=20&c=dh--T0fdfRx4sL7WAhoqnP-SdpxKOQkzewnFv7sVUpI=') center center;
    background-size: cover;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.title{
    margin: 20px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col{
    margin-top: 10px;
    width: 1000px;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    justify-content: center;
}

.col div{
    width: 250px;
    text-align: center;

}

input{
    width: 50%;
    height: 50px;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 30px;
}

.bday{
    color: rgb(52, 87, 142);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}